/* CSS */
.item-hour {
    width: 40px;
    height: 20px;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family:
        system-ui,
        -apple-system,
        system-ui,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.item-hour:hover,
.item-hour:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.item-hour:hover {
    transform: translateY(-1px);
    text-decoration: none;
}

.item-hour:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/* Define the custom scrollbar style */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: red #f0f0f0;
}

/* Style the track */
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/* Style the scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 6px;
}

/* Style the scrollbar thumb when hovered */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

@media screen and (max-width: 1024px) {
    .film-content {
        display: block !important;
        text-align: center;
    }
    .img-res {
        width: 100% !important;
    }
    .img {
        text-align: center;
    }
    .textHour {
        font-size: 0.7rem !important;
    }
    .film-content .lstHour:nth-last-child() {
        border: none !important;
    }
    .item-hour {
        padding: 0 !important;
    }
}

@media screen and (max-width: 797px) {
    .img-res {
        width: 100% !important;
    }
}

@media screen and (max-width: 500px) {
    .item-hour {
        padding: 0 !important;
    }
}
