@media screen and (max-width: 500px) {
    .card {
        width: 14rem !important;
        height: 32rem;
    }

    .btn-dangChieu,
    .btn-sapChieu {
        padding: 10px 10px !important;
    }
}

@media screen and (max-width: 360px) {
    .btn-dangChieu,
    .btn-sapChieu {
        padding: 0 5px !important;
        line-height: 3;
    }
}

@media screen and (max-width: 290px) {
    .listBtn {
        display: flex !important;
        justify-content: center;
        .btn-dangChieu,
        .btn-sapChieu {
            padding: 0 8px !important;
            line-height: 3.5;
            font-size: 10px;
        }
    }
    .lstMutiple {
        padding: 0 6px !important;
    }
    .MutipleRow_slick-prev__lgTHT:before,
    .MutipleRow_slick-next__dChdf:before {
        display: none;
    }
}
